.ui-list-table-content {
  max-width: 100%;
  overflow-x: auto;
  margin: 20px 0px;
}

.ui-list-table {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: calc(100% - 2px);
}

.ui-list-table thead {
  background-color: #4e71c0;
  font-size: 12px;
}

.ui-list-table thead th {
  border-bottom: none;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  padding: 10px 15px;
  background-color: #999999;
  color: #ffffff;
  font-size: 13px;
  white-space: nowrap;
  background-color: #4e71c0;
}

.ui-list-table tbody td {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding: 8.5px 14px;
  font-size: 13px;
  vertical-align: middle;
}

.ui-list-table tbody td img {
  width: 100px;
}

.helper-message {
  text-align: center;
  font-size: 14px;
  margin: 10px;
}
